<h2>Update the bathroom location!</h2>

<form action="/{{bathrooms.id}}?_method=put" method="post">
  <p>
    <label>Street:</label>
    <input type="text" value="{{bathrooms.street}}" name="street"/>
  </p>
    <p>
    <label>City:</label>
    <input type="text" value="{{bathrooms.city}}" name="city"/>
  </p>
    <p>
    <label>State:</label>
    <input type="text" value="{{bathrooms.state}}" name="state"/>
  </p>
    <p>
    <label>Zipcode:</label>
    <input type="text" value="{{bathrooms.zipcode}}" name="zipcode"/>
  </p>
    <p>
    <label>Comments:</label>
    <input type="text" value="{{bathrooms.comments}}" name="comments"/>
  </p>
  <input type="submit" value="Update" />
</form>

