
<h1>{{street}} Information</h1>

<div class = "jumbotron">
<h2>Street: {{street}}</h2>
<h2>City: {{city}}</h2>
<h2>State: {{state}}</h2>
<h2>Zipcode: {{zipcode}}</h2>
<h2>Comments: {{comments}}</h2>

<p>Don't like what you see? You can <a href=/edit/{{id}}>update info</a> here!</p> 
<p>Or just simply remove by clicking the remove button below! <form action="/{{id}}?_method=delete" method="post">
            <input type="submit" value="Remove">
        </form>
</p>
</div>
   <style>
       /* Set the size of the div element that contains the map */
      #map {
        height: 550px;  /* The height is 400 pixels */
        width: 50%;  /* The width is the width of the web page */
        float: right;
       }
      .jumbotron {
          background-color: white;
          float: left;
          width: 50%;
      }
      h1 {
          color: white;
      }
       
    </style>
  </head>
  <body>
  
    <!--The div element for the map -->
    <div id="map"></div>
    <script>
// Initialize and add the map
function initMap() {
  // The location of Uluru 
  var sanDiego = {lat: 32.722728, lng: -117.157053}
  // The map, centered at sanDiego
  var map = new google.maps.Map(
      document.getElementById('map'), {zoom: 15, center: sanDiego});
  // The marker, positioned at sanDiego

  var marker = new google.maps.Marker({position: sanDiego, map: map});
}
    </script>

     <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBKAsIksXxWq16eCzHWO_vgrlIPRZdLXI8&callback=initMap"
  type="text/javascript"></script>
  </body>
</html>